/* @import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;1,400&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  /* font-family: "Lato", sans-serif; */
/* font-family: "Source Serif Pro", "Lato", serif; */
/* }  */

@layer components {
  .navItem {
    @apply flex items-center justify-center px-4 py-2 space-x-2 font-semibold rounded-full cursor-pointer hover:text-white sm:justify-start hover:bg-dark-700;
  }
  .button {
    @apply flex items-center justify-center p-2 text-lg font-bold text-white bg-blue-700 rounded-md focus:outline-none;
  }
  .customText-h3 {
    @apply mx-auto mt-3 font-semibold text-center;
  }
}
/* chrome */
::-webkit-scrollbar {
  display: none;
}
/* firefox */
* {
  scrollbar-width: none;
}

/* chrome */
/* .feed__wrapper::-webkit-scrollbar {
  display: none;
} 
/* firefox */
/* .feed__wrapper {
  scrollbar-width: none;
} */
.loader {
  border-top-color: #1f6492;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* // TODO more components  */
button:focus {
  outline: none;
}

/* .test {
  color: red !important;
} */
.mention {
  background-color: blueviolet;
}
.hashtag {
  background-color: red;
}

.tweetCardImage__wrapper > div {
  border-width: 1px;
  border-radius: 12px;
  border-color: #eeeeee;
}
/* #loadingsScreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 10;
} */
